
h2{
    text-align: center;
}
li{
    list-style-position: inside;
    background-color: aliceblue;
    width:15rem;
    border:.2rem solid green;
    margin:.3rem;
    padding: .4rem;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
li:hover{
    background-color: green;
    color: white;
}